@font-face {
    font-family: cursiva;
    src: url(ArtisoulSignature.ttf);
}

strong{
    font-weight: bolder;
}

section{
    transition: .2s;
    /* background-color: red; */
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    margin-left: 74px;
}

.content{
    height: 100%;
    display: flex;
    max-width: 1000px;
    /* background-color: aqua; */
    transition: .2s ease;
    justify-content: center;
    align-items: center;
}

nav.menu-lateral:hover ~ section{
    margin-left: 264px;
}

section#home {
    height: 100vh;
    max-width: 100%;
    /* background-color: #006eff; */
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}

section#home .content{
    padding: 0px 0px 0px 0px;
    align-items: inherit;
}

/* .container{
    background-color: blueviolet;
} */

section#home .content .container{
    display: block;
}


section .content .container-home{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section .content .titulo{
    color: #C13622;
}

section#home .content .container-home .subtitulo{
    position: relative;
    top: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2D4E63;
}

section .container-home .introducao{
    margin-top: 20px;
    font-size: 15px;
    max-width: 600px;
    text-align: center;
    /* background-color: blue; */
}

section .content .container-home .video-home{
    margin-top: 110px;
    border-radius: 6px;
    width: 600px;
    height: 335px;
    transition: .4s ease-in-out;
    box-shadow: 0px 3px 20px gray;
}

section .content .video-conteudo{
    margin-top: 30px;
    border-radius: 6px;
    width: 600px;
    height: 335px;
    transition: .4s ease-in-out;
    box-shadow: 0px 3px 20px gray;
}

.titulo{
    font-family: cursiva;
    font-size: 60px;
    font-weight: 100;
    position: relative;
    /* background-color: rgb(255, 196, 0); */
    justify-content: center;
    display: flex;
    padding: 0px 5px;
}

.subtitulo{
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    top: -30px;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    color: #2D4E63;
}

#home .titulo{
    font-size: 70px;
    position: absolute;
    font-weight: 100;
}

section .content .container-home .video{
    /* background-color: #006eff; */
    display: flex;
    justify-content: center;
}

section .content .container .video{
    max-width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}


/* SEÇÃO SOBRE - PODE GERAR CONFLITO CUIDAR AO MEXER COM OS ESTILOS ------------------------- */
/* ESTILOS NO HTML TAMBÉM */
section#sobre{
    background-color: #2D4E63;
    height: 100vh;
    width: auto;
    align-items: center;
    color: white;
    background-image: linear-gradient(27deg,#6B7F4F 40%, #2D4E63   );
    background-size: 500% 100%;
    animation: degrade 5s infinite alternate;
    transition: .2s ease;
}

section#sobre .content .container .grupo-elementos{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 300px;
    /* background-color: maroon; */
}


section#sobre .content .container > h2{
    margin-top: 10px;
    max-width: 100%;
}

section#sobre .redesSociais-container{
    max-width: 100%;
    bottom: 10px;
    /* background-color: #2D4E63; */

} 


section#sobre .redesSociais{ 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
    /* background-color: #2D4E63; */
}

section#sobre .redesSociais a{ 
color: white;
}

.endereco-container{
    /* background-color: #2D4E63; */
    max-width: 100%;
    /* text-align: left; */
}
.endereco-container a{
    text-decoration: none;
    color: white;
}

.endereco-container > h2{
    margin-bottom: 5px;
}


/* FIM SEÇÃO SOBRE -------------------------------------------------------------------------- */

.frase-mobile{
    /* margin: ; */
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    /* width: 100%; */
    height: 100vh;
    background-image: linear-gradient(27deg,#ff2200,#3cff00,#006eff,violet  );
    background-size: 500% 100%;
    animation: degrade 3s infinite alternate;
    padding: 20px;
}

@keyframes degrade{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}