@media screen and (max-width: 970px ){
    .header{
        display: block;
    }

    nav.menu-lateral{
        display: none;
    }
    
    section{
        margin-left: 0px;
        height: auto;
        display: block;
    }

    section#home{
        margin-bottom: 20px;
    }
    
    .content{
        height: 100%;
        display: flex;
        margin-left: 0px;
        max-width: 1000px;
        justify-content: center
    }

    #home .titulo{
        font-size: 50px;
        position: absolute;
        font-weight: 100;
        margin-top: 30px;
    }
    
    section .content .container-home{
        padding: 0px 10px 0px 10px;
        margin-top: 30px;
    }
    section .content .container-home .subtitulo{
        font-size: 36px;  
        top: 70px;
    }

    .titulo{
        font-family: cursiva;
        font-size: 60px;
        font-weight: 100;
        position: relative;
        justify-content: center;
        display: flex;
        text-align: center;
    }

    section .content .container .video{
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    section .content .video-conteudo{
        max-width: 90%;
        max-height: 250px;
    }

    section .content .container-home .video-home{
        max-width: 90%;
        height: 250px;
        margin-top: 80px;

    }

    .titulo{
        font-size: 45px;
    }

    .subtitulo{
        max-width: 100%;
        font-weight: 200;
        top: -30px;
        display: flex;
        justify-content: center;
    }

    section .container-home .introducao{
        margin-top: 40px;
        font-size: 25 0px;
        max-width: 600px;
        text-align: center;
    }    

    /* SEÇÃO SOBRE ---------------------*/
    section#sobre{
        height: 100%;
        max-width: 100%;
        justify-content: center;
        padding: 10px 10px;
        margin-top: 30px;
    }


    section#sobre .content .container .grupo-elementos{
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
}